#register {
	form {
		position: relative;
	}
	form > h2 {
		position: absolute;
		top: -60px;
		left: 0;
	}
	svg {
		z-index: 1;
		fill: rgba(white,0.90);
		height: auto;
		width: 200px;
		object-fit: scale-down;
		stroke-width: 5px;
	}
}
